{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- About Section Start -->
      {% include 'sobre.html' %}
    <!-- About Section End -->



    <!-- Services Section Start -->
      {% include 'servicos.html' %}
    <!-- Services Section End -->




    <!-- Resume Section Start -->
      {% include 'resumo.html' %}
    <!-- Resume Section End -->




    <!-- Portfolio Section -->
      {% include 'portfolio.html' %}
    <!-- Portfolio Section Ends --> 




    <!-- Counter Area Start-->
      {% include 'contagem.html' %}
    <!-- Counter Area End-->



    <!-- Contact Section Start -->
      {% include 'contato.html' %}
    <!-- Contact Section End -->

{% endblock %}
    

