{% load static %}
    <section id="portfolios" class="section-padding">
      <!-- Container Starts -->
      <div class="container">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Meus Trabalhos Recentes</h2>
        <div class="row">
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->


            <!-- Portfolio Controller/Buttons Ends-->
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
            {% for i in portifolio %}
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{{ i.portifolio.thumb.url }}" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="{{ i.portifolio.thumb.url }}">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}










          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>